* {
    box-sizing: border-box;
}
#DisplayAllFilesDiv{
    width: 70%;
    margin-left: 15%;
}

.file-heading {
    margin-left: 45%;
}

.file-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 1px solid black;
}
a{
    text-decoration:none;
}

.width-10p {
    width: 10%;
}

.width-150p {
    width: 30%;
}

.width-250p {
    width: 60%;
}

.file-Header {
    background-color: #646464;
    font-family: Arial;
    color: White;
    border: 2px solid black;
    height: 30px;
    font-size: 16px;
    align-items: center;
    padding-left: 5px;
    text-align: center;
}

.border-left {
    border-left: 1px solid black;
    padding-left: 5px;
    text-align: center;
    padding-top: 10px;
}

.file-container div:last-child {
    padding: 5px;
    text-align: center;
}

.file-container div:last-child button {
    padding: 5px;
    text-align: center;
}

.Download-btn {
    margin-left: 45%;
    background: green;
    border: 1px solid black;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    padding: 12px 14px;
    text-align: center;
}
.delete-btn {

}

#fileUploadInput {
    margin-right: 20px;
    border: none;
    background: #084cdf;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

#fileUploadInput {
    background: #0d45a5;
}

.upload-div{
    margin-top:5%;
    margin-left:15%;
}
#uploadBtn {
    background: green;
    border: 1px solid black;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 14px;
    font-weight: 800;
    line-height: 16px;
    padding: 12px 14px;
    text-align: center;
}
